.authPage{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}
.authPage h2{
	margin-bottom: 20px;
	font-size: 22px;
}
.authPage .formInput{
	width: 300px;
	margin-bottom: 30px;
}
.authPage__checkCode{
	width: 300px;
	margin-bottom: 30px;
}
.authPage__checkCode p{
	font-size: 14px;
	color: var(--tg-theme-hint-color);
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s;
}
.authPage__checkCode p.active{
	opacity: 1;
}