.formInput {
  margin-bottom: 20px;
  position: relative;
}
.formInput input {
	color: var(--tg-theme-text-color);
	font-size: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--tg-theme-text-color);
}
.formInput input:focus ~ .formInput__placeholder {
  transform: translateY(-22px);
}
.formInput__placeholder {
  position: absolute;
  display: block;
  left: 0;
  top: calc(0% + 10px);
  color: var(--tg-theme-hint-color);
  transition: transform 0.1s linear;
}
.formInput.active .formInput__placeholder {
  transform: translateY(-22px);
}
.formInput span{
	color: rgb(206, 72, 72);
	font-size: 14px;
}