.serialCodePage{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	padding: 10px;
}
.serialCodePage h2{
	margin-bottom: 20px;
	font-size: 22px;
	text-align: center;
}
.serialCodePage__input{
	width: 100%;
	margin-bottom: 30px;
}
.serialCodePage__data{
	text-align: left;
	width: 100%;
}
.serialCodePage__data p{
	margin-bottom: 10px;
}