.mainPage {
  margin-top: 25px;
}
.mainPage h2 {
  color: var(--tg-theme-text-color);
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
.mainPage__img {
  position: relative;
  background-image: url("../../../public/mikrotik.jpg");
  height: 470px;
  background-size: cover;
}
.mainPage__img-info {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainPage__img-info h3 {
  margin-bottom: 20px;
}

.mainPage__feedback {
  margin-top: 25px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mainPage__feedback-phone{
	margin-bottom: 30px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mainPage__feedback-phone p{
	margin-bottom: 10px;
}
.mainPage__feedback-phone span{
	color: var(--tg-theme-hint-color);
}
.mainPage__feedback-soc{
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}
.mainPage__feedback-soc img{
	width: 80px;
}

@media (max-width: 480px) {
  .mainPage h2 {
    font-size: 20px;
  }
}